<p>
  first works!
</p>

<a [routerLink]="['/','notification']" >
  <p>My Application</p>
</a>

<a [routerLink]="['/','messages']" >
  <p>My Messages</p>
</a>



<a [routerLink]="['/','charts']" >
  <p>My Charts</p>
</a>



<div class="container">
    <div style="text-align:center">
      <h1>
        Google Map Geolocation Demo
      </h1>
    </div>
  
    <div class="alert alert-warning">
      Note: Once Track me is enabled, refresh page to enable Find me feature!
    </div>
    <div>
      <div>
        <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
        <button class="btn btn-primary" (click)="trackMe()">Track me</button>
        <button class="btn btn-primary" (click)="placeCircle()">Place Circle</button>
      </div>
      <div >
        <span>Longitude: {{currentLong}}</span>
        <span>Longitude: {{currentLong}}</span>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>
              <div #gmap style="width:100%;height:300px"></div>
            </h3>
            <office-map  [mapCircle]="map_circle" [latLng]="defaultMap" placeSearch="googlemapaddress" (onSelect)="googleLat($event)"></office-map>
            <li class="margin-bottom-10">
                <div class="place-hd"> Street Address</div>
                <input type="text"  #googlemapaddress name="googlemapaddress" id="googlemapaddress" placeholder="Address">
            </li>
          </div>
        </div>
      </div>
    </div>
    <br>
  
  </div>