<p>
  first works!
</p>

<a [routerLink]="['/','notification']" >
  <p>My Application</p>
</a>

<a [routerLink]="['/','messages']" >
  <p>My Messages</p>
</a>





<a [routerLink]="['/','charts']" >
  <p>My Charts</p>
</a>

<a [routerLink]="['/','demo1']" >
  <p>Data Table</p>
</a>

<a [routerLink]="['/','uml']" >
  <p>Uml</p>
</a>


<app-parent></app-parent>
<dynamic-form *ngIf="show==1" [dataObject]="dyn_data"></dynamic-form>
<br>

<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in </p>
    <h3>All registered users:</h3>
    <ul style="background-color: honeydew">
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>

<div class="col-sm-5">

    <button type="submit" (click)="showTasks()" class="btn btn-primary">Show Tasks</button>
    <button type="submit" (click)=" loadAllUsers()" class="btn btn-primary">Show </button>
   
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Base64 Upload</h2>
        <base64-upload></base64-upload>
      </div>
      <div class="col-sm-6">
        <h2>Formdata Upload</h2>
        <formdata-upload></formdata-upload>
      </div>
    </div>
  </div>



  

<div class="container">
    
  

    <div style="text-align:center">
      <h1>
        Google Map Geolocation
      </h1>
    </div>
  
    <div class="alert alert-warning">
      Note: Once Track me is enabled, refresh page to enable Find me feature!
    </div>
    <div>
      <div>
          
        <button class="btn btn-primary" [disabled]="isTracking"   (click)="findMe()"> <i  (click)="findMe()" class="fa fa-location-arrow"></i>  </button> 
        <button class="btn btn-primary" (click)="trackMe()">Track me</button>
      
        <button class="btn btn-primary" (click)="placeCircle()">Place Circle</button>
        <button class="btn btn-primary" (click)="routeToNotifications()">Go to Notifications</button>
      </div>
      <div >
        <span>Longitude: {{currentLong}}</span>
        <span>Longitude: {{currentLong}}</span>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>
              <div #gmap style="width:100%;height:300px"></div>
            </h3>
            <office-map  [mapCircle]="map_circle" [latLng]="defaultMap" placeSearch="googlemapaddress" (onSelect)="googleLat($event)"></office-map>
            <ol >
                <div class="col-sm-8 col-form-label">
                <input type="text" class="form-control"  #googlemapaddress name="googlemapaddress" id="googlemapaddress" placeholder="Address">
              </div>
            </ol>
          </div>
        </div>
        
      </div>
    </div>
    <br>

   


  
  </div>


